#course_table{
    width: 100%;
    border-collapse:collapse ;
}
#course_table td,#course_table th{
    border: 1px solid lightslategrey;
    text-align: center;
}
#course_table th{
    color: white;
    background-color: #1b6d85;
    padding: 5px 2px;
}
#course_table td{
    padding: 3px 2px;
}
#course_table td.table_btn_td{
    position: relative;
    text-align: right;
    padding: 8px 10px;
    height: 20px;
}
#own_course{
    border-radius: 3px;
}
